Django==4.1.13
gunicorn==20.1.0
google-api-core==2.14.0
google-auth==2.23.4
google-cloud-secret-manager==2.16.1
googleapis-common-protos==1.61.0
grpc-google-iam-v1==0.12.7
grpcio==1.59.3
grpcio-status==1.59.3
django-environ==0.10.0